.main {
    padding-bottom: 30px;
}

.tableItem {
    height: 100px;
    padding: 20px 0;
    width: min(1440px, 100%);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 
        5% 
        minmax(70px, 1fr) 
        minmax(300px, 1fr) 
        125px
        minmax(132px, 1fr) 
        125px
        5%;
    & div {
        font-size: 16px;
        line-height: 60px;
    }
    & .imgContainer {
        display: flex;
        align-self: center;
        justify-content: center;
    }
}

.empyCartMessage {
    padding: 20px 0 20px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.199);
    text-align: center;
}

.addProductToCartButon {
    width: 180px;
    height: 50px;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.02em;
    background: rgb(25, 177, 178);
    transition: all 0.3s ease;
}

.addProductToCartButon:hover {
    background: rgb(11, 133, 133);
    box-shadow: 0 0 5px rgba(12, 87, 87, 0.685);
    transition: all 0.3s ease;
}

.promoContainer {
    padding: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
    & label {
        color: rgb(25, 177, 178) !important;
    }
    & div::after {
        border-bottom: 2px solid rgb(25, 177, 178) !important;
    }
}