.main {
    padding-bottom: 30px;
}

.tableItem {
    height: 100px;
    padding: 20px 0;
    width: min(1440px, 100%);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 
        5% 
        minmax(70px, 1fr) 
        minmax(300px, 1fr) 
        125px
        minmax(132px, 1fr) 
        125px
        5%;
    & div {
        font-size: 16px;
        line-height: 60px;
    }
    & .imgContainer {
        display: flex;
        align-self: center;
        justify-content: center;
    }
}

.empyCartMessage {
    padding: 20px 0 20px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.199);
    text-align: center;
}