.main {
    margin: 55px 0;
    display: flex;
    gap: 60px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    & input {
        font-size: 30px;
        font-weight: 700;
    }
}

.main input::-webkit-outer-spin-button,
.main input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}