.main {
    & img {
        width: 40%;
        height: auto;
        display: block;
        margin-inline: auto;
        margin-top: 10%;
        margin-bottom: 15%;
    }
    & span {
        font-weight: 600;
        display: block;
        font-size: 18px;
        line-height: 1;
        text-align: center;
        color: #D75A4A;
        margin-bottom: 3%;
    }
}