.main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.categories {
    display: flex;
    gap: 40px;
    padding-left: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #fff;
}

@media(max-width:870px){
	.main {
		display: none;
	}
}