.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(25, 177, 178);
    box-shadow: 0 5px 5px rgba(12, 87, 87, 0.685);
}

.main {
    height: 100px;
    width: 1440px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & section {
		display: flex;
		align-items: center;
	}
}

.leftSection {
    display: flex;
    gap: 60px;
}

.rightSection {
    display: flex;
    gap: 20px;
}

@media(max-width:1440px){
	.main {
		padding: 0 10px;
        height: min(70px, 20vh, 100px);
	}
}