.main {
    padding-left: 30px;
    position: relative;
}

.sortButtonContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: min(92px, 8vw);
}

.sortButtonItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    padding: 19px 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    border: 1px solid rgb(18, 134, 134);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    & span {
        text-align: center;
    }
}

.sortButtonItem:hover {
    background-color: rgba(25, 178, 178, 0.753);
}

.sortButtonItemActive {
    font-weight: 600;
    box-shadow: 0 5px 5px rgba(12, 87, 87, 0.685);
    background: rgb(25, 177, 178);
    color: #fff;
    transition: all 0.3s ease;
}

.categoriesButton {
    display: none;
    width: 222px;
    padding: 19px 10px;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    border: 1px solid rgb(18, 134, 134);
    border-radius: 10px;
    transition: all 0.3s ease;
}

@media(max-width:1100px){
    .sortButtonItem {
        padding: 17px 55px;
    }
}

@media(max-width:1000px){
    .sortButtonItem {
        padding: 14px 45px;
    }
}

@media(max-width:900px){
    .sortButtonItem {
        padding: 12px 35px;
    }
}

@media(max-width:800px){
    .sortButtonItem {
        padding: 10px 25px;
    }
}

@media(max-width:767px){
    .categoriesButton {
        display: inline-block;
    }
    .sortButtonContainer {
        position: absolute;
        top: 70px;
        z-index: 2;
        display: flex;
        gap: 5px;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
    }
    .sortButtonItem {
        display: inline-block;
        text-align: center;
        width: 222px;
        padding: 19px 65px;
        background: #E5E5E5;
    }
    .sortButtonItemActive {
        border: 1px solid rgb(18, 134, 134);
        background: rgb(25, 177, 178);
        color: #fff;
        transition: all 0.3s ease;
    }
    .visible {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease;
    }
}