.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(25, 177, 178);
    box-shadow: 0 -5px 5px rgba(12, 87, 87, 0.685);
}

.main {
    width: 1440px;
    padding: 30px 0;
    margin-inline: auto;
    display: flex;
    justify-content: space-between; 
}

.general {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    color: #fff;
}

.item a {
    color: white !important;
    transition: all 0.3s ease;
}

.item a:hover {
    color: #393E46 !important;
    transition: all 0.3s ease;
}

.item a.active {
    color: black !important;
    transition: all 0.3s ease;
}