.main {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(25, 177, 178);
}

.formContainer {
    width: min(491px, 95%);
    padding: 60px 20px 30px;
    height: 503px;
    position: fixed;
    z-index: 6;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #fff;
    border-radius: 15px;
    & .closeImg {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    & .closeImg:hover {
        transform: scale3d(1.2, 1.2, 1);
        transition: all 0.3s ease;
    }
    & h2 {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    & form {
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
        & .inputItem {
            width: 80%;
            height: 50px;
            border-bottom: 1px solid #686767;
            transition: all 0.3s ease;
        }
        & .inputItem:focus {
            border-bottom: 1px solid rgb(25, 177, 178);
            transition: all 0.3s ease;
        }
        & .inputItem:disabled {
            background-color: #fff;
            transition: all 0.3s ease;
        }
        & .checkoutButton {
            padding: 14px;
            text-align: center;
            width: 180px;
            height: 50px;
            border-radius: 15px;
            color: white;
            font-size: 18px;
            line-height: 1;
            letter-spacing: 0.02em;
            background: rgb(25, 177, 178);
            transition: all 0.3s ease;
        }
        & .checkoutButton:hover {
            background: rgb(11, 133, 133);
            box-shadow: 0 0 5px rgba(12, 87, 87, 0.685);
            transition: all 0.3s ease;
        }
        & .deliveryBlock {
            display: block;
            width: 80%;
            & span {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}

.main,
.formContainer {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.main.visible {
    opacity: 0.5;
    visibility: visible;
    transition: all 0.3s ease;  
}

.formContainer.visible {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}